<!DOCTYPE html>
<meta charset="utf-8" />
<html>
  <head>
    <title>Natural Language Processing Tool</title>
  </head>

  <body>
    <div class="main">
      <h1>Natural Language Processing Tool</h1>
        <form>
          <label for="input">Enter URL Here:</label><br />
          <input type="text" id="input" />
        </form>
        <button id="submit" type="button">Submit</button>
        <div id="response"></div>
        <div id="error"></div>
    </div>



    <script>
      // Check that service workers are supported
      if ("serviceWorker" in navigator) {
        // Use the window load event to keep the page load performant
        window.addEventListener("load", () => {
          navigator.serviceWorker.register("/service-worker.js");
        });
      }
    </script>
  </body>
</html>
