@import 'footer.scss';
@import 'header.scss';

$input-width: 600px;
$input-height: 2em;
$font-size: 25px;
$main-color: #d5ede5;
$button-color: #21bf8a;
$main-padding: 50px;
$margin: 10%;

#input{
  width: $input-width;
  height: $input-height;
}

.main{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: $main-padding;
  background-color: $main-color;
}

body{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: $margin;
  font-size: $font-size;
  background-color: $main-color;
}

button{
  font-size: $font-size;
  background-color: $button-color;
}
